@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

@theme {
  /* Custom brand colors */
  --color-brand-orange: #f15f33;
  --color-brand-black: #2B2B2B;
  --color-brand-white: #F5F5F5;
  --color-brand-light-blue: #63B3D3;
  --color-brand-dark-blue: #0070C0;
  --color-brand-green: #04D098;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}